#single_header {
  display: none;
}

#background {
  height: 100vh;
  background: #00bfc2;
  background: linear-gradient(
    135deg,
    rgba(0, 191, 194, 1) 0%,
    rgba(173, 83, 237, 1) 100%
  );
  z-index: -5;
}

@keyframes BackgroundSlide {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(512px, 512px);
  }
}

.parallax-layer {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: url("/img/background.png");
  background-repeat: repeat;
  background-position: center;
  background-size: 10em;
  animation: BackgroundSlide 60s linear infinite;
  opacity: 0.6;
  filter: blur(2px);
}
